<div class="card">
    <div class="card-header">
        <div class="col-sm-4">
            <div class="float-left">
                <strong class="card-title">Files</strong>
            </div>

        </div>
        <div class="col-sm-8">
            <div class="float-right">
                <button type="button" class="btn btn-outline-primary" ng-click="$ctrl.addNewFile()">
                    <i class="fa fa-plus"></i>&nbsp;Add file
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col" width="10%">
                    <sort-control field="sortModel.orderByField" reverse="sortModel.reverseSort" tag="'id'">
                        Id
                    </sort-control>
                </th>
                <th scope="col" width="40%">
                    <sort-control field="sortModel.orderByField" reverse="sortModel.reverseSort" tag="'name'">
                        Name
                    </sort-control>
                </th>
                <th scope="col" width="15%">
                    <sort-control field="sortModel.orderByField" reverse="sortModel.reverseSort" tag="'addDate'">
                        Added
                    </sort-control>
                </th>
                <th scope="col" width="35%">
                    <sort-control field="sortModel.orderByField" reverse="sortModel.reverseSort" tag="'tags'">
                        Tags
                    </sort-control>
                </th>
                <th scope="col" width="0%">Actions</th>
            </tr>
            </thead>
            <thead>
            <tr>
                <th>
                    <input name="text-input" type="text" class="form-control-sm form-control"
                           ng-model="$ctrl.filterModel.id"
                           ng-model-options="{debounce : 250}" style="width: 100%;">
                </th>
                <th>
                    <input name="text-input" type="text" class="form-control-sm form-control"
                           ng-model="$ctrl.filterModel.name"
                           ng-model-options="{debounce : 250}" style="width: 100%;">
                </th>
                <th>
                    <md-datepicker ng-model="$ctrl.filterModel.addDate" md-placeholder="Add date"
                                   md-open-on-focus></md-datepicker>
                </th>
                <th>
                    <input name="text-input" type="text" class="form-control-sm form-control"
                           ng-model="$ctrl.filterModel.hash"
                           ng-model-options="{debounce : 250}" style="width: 100%;">
                </th>
                <th style="text-align: center">
                    <button class="btn btn-secondary btn-sm" ng-click="$ctrl.resetFilter()"
                            title="Clear filters">
                        <i class="fa fa-undo"></i>&nbsp;Reset
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in $ctrl.items | orderBy:sortModel.orderByField:sortModel.reverseSort">
                <!--| filterCA:$ctrl.filterModel-->
                <td ng-dblclick="$ctrl.enterDetails(item.id)" scope="row">
                    {{item.id}}
                </td>
                <td ng-dblclick="$ctrl.enterDetails(item.id)" scope="row">
                    {{item.name}}
                </td>
                <td ng-dblclick="$ctrl.enterDetails(item.id)" style="text-align: center">
                    {{item.addDate | date: "yyyy.MM.dd" }}
                </td>
                <td ng-dblclick="$ctrl.enterDetails(item.id)" scope="row">
                    {{$ctrl.parseTags(item)}}
                </td>
                <td style="text-align: center">
                    <button type="button" class="btn btn-primary btn-sm" title="Edit"
                            ng-click="$ctrl.enterDetails(item.id)">
                        <i class="fa fa-pencil"></i>&nbsp;
                    </button>

                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</div>
