<div class="card">
    <div class="card-header">
        <strong class="card-title">Certyfikat #{{$ctrl.certificates[$ctrl.selected].id}}</strong>
    </div>
    <div class="card-body">
        <table class="table table-borderless table-hover table-sm">
            <tbody>
                <tr>
                    <td style="width: 40%">Wystawiony dla:</td>
                    <td>
                        <div ng-repeat="field in $ctrl.certificates[$ctrl.selected].subject.split(',')"> {{field}}</div>
                    </td>
                </tr>
                <tr>
                    <td>Wystawiony przez:</td>
                    <td>
                        <div ng-repeat="field in $ctrl.certificates[$ctrl.selected].issuer.split(',')"> {{field}}</div>
                    </td>
                </tr>
                <tr>
                    <td>Aktywny:</td>
                    <td>{{$ctrl.certificates[$ctrl.selected].active | certStatus}}</td>
                </tr>
                <tr>
                    <td>Ważny od:</td>
                    <td>{{$ctrl.certificates[$ctrl.selected].validFrom | date: "yyyy.MM.dd"}}</td>
                </tr>
                <tr>
                    <td>Wazny do:</td>
                    <td>{{$ctrl.certificates[$ctrl.selected].validUntil | date: "yyyy.MM.dd"}}</td>
                </tr>
                <tr>
                    <td>Numer seryjny:</td>
                    <td>{{$ctrl.certificates[$ctrl.selected].serialNumber}}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-danger" style="width: 150px;" ng-click="$ctrl.onDeleteButtonClicked($event)">
                    <i class="fa fa-trash-o"></i>&nbsp;Usuń certyfikat
                </button>
            </div>
        </div>
    </div>
</div>



