<div class="card">
    <div class="card-header">
        <strong class="card-title">Document: </strong>
        <strong class="card-title">{{$ctrl.localFile.name}}</strong>
    </div>
    <div class="card-body">
        <nav>
            <button class="btn btn-secondary btn-sm" ng-click="$ctrl.goBackToFileList()" title="Go back">
                <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Go back
            </button>
        </nav>
        <div class="tab-content pl-3 pt-2">
            <div class="row">
                <div class="col-12">
                    <table class="table table-borderless table-hover">
                        <tbody>
                        <tr>
                            <td style="width: 40%">Id</td>
                            <td>
                               {{$ctrl.localFile.id}}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 40%">Name</td>
                            <td>
                               {{$ctrl.localFile.name}}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 40%">Add date</td>
                            <td>
                               {{$ctrl.localFile.addDate}}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 40%">Hash value</td>
                            <td>
                               {{$ctrl.localFile.hash}}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 40%">Tags</td>
                            <td>
                               {{$ctrl.parseTags()}}
                                <button type="button" class="btn btn-primary btn-sm float-right" title="Edit"
                                        ng-click="$ctrl.editTags($event)">
                                    <i class="fa fa-pencil"></i>&nbsp;Edit
                                </button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary btn-sm" title="Download"
                                    ng-click="$ctrl.downloadFile()">
                                <i class="fa fa-pencil"></i>&nbsp;Download
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" title="Delete"
                                    ng-click="$ctrl.removeFile()">
                                <i class="fa fa-trash-o"></i>&nbsp;Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>